<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    
    <!-- 
    Below are the parameters which can be adjusted to control the execution of the validation check
    It is essential that the token and url are set coreectly to access AMS
    -->
    
    <!-- The access token for AMS -->
    <add key="token" value="b406564f-44aa-4e51-a80a-aa9ed9a04ec6" />

    <!-- The URI to the AMS Webservices endpoint -->
    <add key="uri" value="http://localhost/SITAAMSIntegrationService/v2/SITAAMSIntegrationService" />

    <!-- The file containing the validation rules(releative to the executeable path)-->
    <add key="rules" value="Rules.config" />

    <!-- The delimiter between fields in the rules file-->
    <add key="delimiter" value="::" />

    <!-- Whether to only show the errors. If set to false, every record checked will be displaed-->
    <add key="errorOnly" value="true" />
    
  </appSettings>
</configuration>
